section#sent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#sent .content {
    max-width: 1400px;
    width: 100%;
    background: #fff;
    margin-bottom: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 2rem 2rem 5rem 2rem;
    display: grid;
    flex-direction: flex;
}
section#sent .content .content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
section#sent .content .content-header .img-sent {
    width: 180px;
    height: 180px;
    img {
        width: 100%;
        height: 100%;
    }
}

section#sent .content header {
    line-height: 1.2;
    max-width: 350px;
    width: 100%;
    text-align: left;
    color: var(--common-blue);
    font-size: 32px;
    padding: 2rem;
}

section#sent .content .box-text {
    max-width: 650px;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--common-text-graydark);
}

@media (max-width: 650px) {
    section#sent .content .content-header .img-sent {
        display: none;
    }
    section#sent .content {
        width: 90%;
    }
}
