section#welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#welcome .content {
    max-width: 1400px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 2rem 2rem 5rem 2rem;
    display: grid;
    flex-direction: flex;
}

section#welcome .content header {
    line-height: 1.2;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--common-blue);
    font-size: 32px;
}

section#welcome .content .box-text {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--common-text-graydark);
}
section#welcome .content .box-text .text-section {
    font-size: 14px;
}
section#welcome .content .box-text * {
    margin-bottom: 10px;
}

section#welcome .content .box-actions {
    margin: 50px auto 0 auto;
    button {
        border-radius: 8px;
        border: 0;
        background: var(--common-green);
        padding: 1rem 2rem;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        color: #444;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }
}

@media (max-width: 650px) {
    section#welcome .content .box-text {
        padding: 2rem 0 0 0;
    }
    section#welcome .content {
        width: 90%;
    }
}
