nav#litenav {
    width: 100%;
    height: 60px;
    background: var(--common-white);
    display: flex;
    margin-bottom: auto;
    box-shadow: 0px 1px 0px 0px rgba(147, 157, 165, 0.24);
    color: var(--common-text-gray);
}

nav#litenav .wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav#litenav .wrapper .left-content,
nav#litenav .wrapper .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 315px;
    width: 100%;
}
nav#litenav .wrapper .left-content .logo {
    margin-top: 5px;
    display: flex;
    align-self: center;
    img {
        height: 84px;
        width: 84px;
    }
}
nav#litenav .wrapper .left-content .brand {
    font-weight: 300;
    font-size: 32px;
    strong {
        font-weight: 700;
    }
}
nav#litenav .wrapper .right-content {
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
nav#litenav .wrapper .right-content button {
    border: 0;
    background: transparent;
    cursor: pointer;
    color: var(--common-text-graydark);
    font-size: 16px;
}
nav#litenav .wrapper .right-content .actions {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    top: 60px;
    border-radius: 2px;
    width: 200px;
    background: #fff;
    flex-direction: column;
    text-align: right;
}
nav#litenav .wrapper .right-content .actions .action-item {
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    width: 100%;
    &:hover {
        background: #f5f5f2;
    }
}
.active {
    display: flex;
}
.disable {
    display: none;
}

@media (max-width: 650px) {
    nav#litenav .wrapper {
        padding: 0 0.5rem;
    }
    nav#litenav .wrapper .left-content .logo {
        display: none;
    }
}
