nav {
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    box-shadow: 0px 1px 0px 0px rgba(147, 157, 165, 0.24);
    color: var(--common-text-gray);
}

nav .wrapper {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .wrapper .left-content,
nav .wrapper .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav .wrapper .left-content .logo {
    margin-right: 5px;
    display: flex;
    align-self: center;
    img {
        width: 52px;
        height: 52px;
    }
}
nav .wrapper .left-content .brand {
    font-weight: 300;
    font-size: 32px;

    strong {
        font-weight: 700;
    }
}

@media (max-width: 650px) {
    nav .wrapper {
        padding: 0 0.5rem;
    }
    nav .wrapper .left-content .logo {
        display: none;
    }
}
