section#lite-nav-search {
    height: 60px;
    background: #f5f5f2;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    z-index: 15510;
}
section#lite-nav-search .content {
    max-width: 1400px;
    width: 100%;
    padding: 1.2rem 2rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
section#lite-nav-search .content .left-content,
section#lite-nav-search .content .center-content,
section#lite-nav-search .content .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 315px;
    width: 100%;
}

section#lite-nav-search .content .left-content .box-logo {
    color: var(--common-text-graydark);
    line-height: 1.2;
    font-size: 22px;
    font-weight: 100;
    cursor: pointer;
    img {
        margin-top: 8px;
        width: 64px;
        height: 64px;
        object-fit: cover;
    }
}

section#lite-nav-search .content .center-content .box-search {
    border: 1px solid #ddd;
    padding: 0.5rem 0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #eee;
    margin: 0 auto;
}
section#lite-nav-search .content .right-content {
    color: #888;
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
section#lite-nav-search .content .right-content .actions {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    top: 60px;
    right: 60px;
    border-radius: 2px;
    width: 200px;
    background: #fff;
    flex-direction: column;
    text-align: right;
}
.active {
    display: flex;
}
.disable {
    display: none;
}

section#lite-nav-search .content .right-content .actions .action-item {
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    width: 100%;
    &:hover {
        background: #f5f5f2;
    }
}

section#lite-nav-search .content .right-content button {
    cursor: pointer;
    border: 0;
    background: transparent;
    color: #888;
    font-size: 16px;
}
section#lite-nav-search .content .right-content .icon-user {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    overflow: hidden;
}
section#lite-nav-search .content .box-search form input {
    background: transparent;
    border: 0;
    margin-left: 5px;
    color: #666;
    font-size: 14px;
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #666;
        opacity: 1; /* Firefox */
    }
}
